Repository openstack/keystone: changes, and which Zuul jobs are due for each by the changed paths.
All: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

keystone-dsvm-functional:
  parent: devstack-tempest
  timeout: 4200
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/keystone
  - openstack/keystone-tempest-plugin
  vars:
    tox_envlist: all
    tempest_test_regex: keystone_tempest_plugin
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin

keystone-dsvm-py3-functional:
  parent: keystone-dsvm-functional
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
      USE_PYTHON3: true

keystone-dsvm-functional-federation:
  parent: keystone-dsvm-functional
  voting: false
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
    devstack_services:
      keystone-saml2-federation: true
      tls-proxy: false
    devstack_plugins:
      keystone: git://git.openstack.org/openstack/keystone

keystone-dsvm-py35-functional-federation:
  parent: keystone-dsvm-functional-federation
  voting: false
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
      USE_PYTHON3: true

openstack-ansible-keystone-rolling-upgrade:
  parent: openstack-ansible-cross-repo-functional
  voting: false
  required-projects:
  - name: openstack/openstack-ansible-os_keystone
  vars:
    tox_env: upgrade
    osa_test_repo: openstack/openstack-ansible-os_keystone

keystone-tox-patch_cover:
  parent: openstack-tox
  description: 'Run test for keystone project.
  
  
    Uses tox with the ``patch_cover`` environment.
  
    '
  vars:
    tox_envlist: patch_cover

keystone-dsvm-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/keystone-dsvm-grenade-multinode/run.yaml
  post-run: playbooks/legacy/keystone-dsvm-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/keystone
  ...

keystoneclient-devstack-functional:
  voting: false

legacy-tempest-dsvm-ldap-domain-specific-driver:
  voting: false

Update doc string for transform_to_group_ids
  keystone/federation/utils.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Enable foreign keys for unit test
  keystone/resource/core.py
  keystone/tests/unit/base_classes.py
  keystone/tests/unit/core.py
  keystone/tests/unit/federation/test_core.py
  keystone/tests/unit/identity/test_core.py
  keystone/tests/unit/ksfixtures/database.py
  keystone/tests/unit/resource/backends/test_sql.py
  keystone/tests/unit/resource/test_backends.py
  keystone/tests/unit/resource/test_core.py
  keystone/tests/unit/rest.py
  keystone/tests/unit/test_backend_endpoint_policy_sql.py
  keystone/tests/unit/test_backend_ldap.py
  keystone/tests/unit/test_backend_sql.py
  keystone/tests/unit/test_cli.py
  keystone/tests/unit/test_shadow_users.py
  keystone/tests/unit/test_v3.py
  keystone/tests/unit/test_v3_assignment.py
  keystone/tests/unit/test_v3_auth.py
  keystone/tests/unit/test_v3_catalog.py
  keystone/tests/unit/test_v3_federation.py
  keystone/tests/unit/test_v3_filters.py
  keystone/tests/unit/test_v3_protection.py
  keystone/tests/unit/test_v3_resource.py
  keystone/tests/unit/token/test_fernet_provider.py
  releasenotes/notes/bug-1744195-a7154ac2e8556efc.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Don't quote {posargs} in tox.ini
  tox.ini
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update log translation hacking check
  keystone/tests/hacking/checks.py
  keystone/tests/unit/ksfixtures/hacking.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Don't mock internal implementation details of oslo
  keystone/tests/unit/common/test_notifications.py
Due: none

Update notification tests to work with o-m 9.0.0
  keystone/tests/unit/common/test_notifications.py
Due: none

Auth flask conversion cleanup
  keystone/api/_shared/saml.py
  keystone/api/auth.py
  keystone/common/rbac_enforcer/enforcer.py
  keystone/server/flask/core.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Replace openSUSE experimental check with newer version
  .zuul.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

add unit tests for healthcheck
  keystone/tests/unit/test_healthcheck.py
Due: none

Convert /v3/users to flask native dispatching
  keystone/api/__init__.py
  keystone/api/_shared/json_home_relations.py
  keystone/api/users.py
  keystone/application_credential/__init__.py
  keystone/application_credential/controllers.py
  keystone/application_credential/routers.py
  keystone/assignment/controllers.py
  keystone/assignment/routers.py
  keystone/common/json_home.py
  keystone/contrib/ec2/controllers.py
  keystone/contrib/ec2/routers.py
  keystone/identity/__init__.py
  keystone/identity/controllers.py
  keystone/identity/core.py
  keystone/identity/routers.py
  keystone/oauth1/controllers.py
  keystone/oauth1/routers.py
  keystone/server/flask/application.py
  keystone/server/flask/common.py
  keystone/tests/unit/test_v3_application_credential.py
  keystone/tests/unit/test_versions.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove skip for test_locked_out_user_sends_notification
  keystone/tests/unit/common/test_notifications.py
Due: none

Internally defined middleware don't use stevedore
  keystone/server/flask/core.py
  keystone/tests/unit/test_entry_points.py
  setup.cfg
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Make Request Logging a little better
  keystone/server/flask/request_processing/req_logging.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Convert S3 and EC2 auth to flask native dispatching
  keystone/api/__init__.py
  keystone/api/_shared/EC2_S3_Resource.py
  keystone/api/_shared/json_home_relations.py
  keystone/api/ec2tokens.py
  keystone/api/s3tokens.py
  keystone/contrib/__init__.py
  keystone/contrib/ec2/__init__.py
  keystone/contrib/ec2/controllers.py
  keystone/contrib/ec2/core.py
  keystone/contrib/ec2/routers.py
  keystone/contrib/s3/__init__.py
  keystone/contrib/s3/core.py
  keystone/contrib/s3/routers.py
  keystone/server/flask/application.py
  keystone/tests/unit/test_contrib_ec2_core.py
  keystone/tests/unit/test_contrib_s3_core.py
  keystone/tests/unit/test_v3_credential.py
  keystone/tests/unit/test_wsgi.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Convert projects API to Flask
  keystone/api/__init__.py
  keystone/api/projects.py
  keystone/assignment/__init__.py
  keystone/assignment/controllers.py
  keystone/assignment/core.py
  keystone/assignment/routers.py
  keystone/notifications.py
  keystone/resource/__init__.py
  keystone/resource/controllers.py
  keystone/resource/routers.py
  keystone/server/flask/application.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Move AuthContextMiddleware
  keystone/middleware/__init__.py
  keystone/server/flask/core.py
  keystone/server/flask/request_processing/middleware/auth_context.py
  keystone/tests/unit/test_middleware.py
  keystone/tests/unit/test_v3.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Convert Normalizing filter to flask native Middleware
  keystone/middleware/__init__.py
  keystone/middleware/core.py
  keystone/server/flask/core.py
  keystone/server/flask/request_processing/middleware/__init__.py
  keystone/server/flask/request_processing/middleware/url_normalize.py
  keystone/tests/unit/test_url_middleware.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Flask comment/docstring cleanup
  keystone/api/users.py
  keystone/server/flask/request_processing/json_body.py
  keystone/server/flask/request_processing/middleware/url_normalize.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Register exceptions with a Flask Error Handler
  keystone/exception.py
  keystone/server/flask/application.py
  keystone/server/flask/common.py
  keystone/server/flask/request_processing/json_body.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Cleanup test_wsgi
  keystone/tests/unit/test_app_config.py
  keystone/tests/unit/test_wsgi.py
Due: none

Cleanup keystone.server.flask.application
  keystone/server/flask/application.py
  keystone/server/flask/request_processing/req_logging.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Replace JSON Body middleware with flask-native func
  keystone/middleware/core.py
  keystone/server/flask/application.py
  keystone/server/flask/core.py
  keystone/server/flask/request_processing/__init__.py
  keystone/server/flask/request_processing/json_body.py
  keystone/tests/unit/server/test_keystone_flask.py
  keystone/tests/unit/test_entry_points.py
  keystone/tests/unit/test_middleware.py
  setup.cfg
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Use tempest-pg-full
  .zuul.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Make policy file support in fixture optional
  keystone/tests/unit/core.py
  keystone/tests/unit/ksfixtures/policy.py
  keystone/tests/unit/test_policy.py
  keystone/tests/unit/test_v3_auth.py
  keystone/tests/unit/test_v3_filters.py
  keystone/tests/unit/test_v3_protection.py
Due: none

Move loadapp to a generic place
  keystone/tests/unit/core.py
Due: none

Add test case for expanding implied roles in system tokens
  keystone/tests/unit/test_v3.py
  keystone/tests/unit/test_v3_auth.py
Due: none

Expand implied roles in system-scoped tokens
  keystone/models/token_model.py
  keystone/tests/unit/test_v3_auth.py
  releasenotes/notes/bug-1788694-4dc8b3ec47fc6084.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Loosen the assertion for logging scope type warnings
  keystone/tests/unit/test_policy.py
Due: none

Make collection_key and member_key raise if unset
  keystone/api/_shared/EC2_S3_Resource.py
  keystone/api/auth.py
  keystone/api/ec2tokens.py
  keystone/api/users.py
  keystone/common/rbac_enforcer/enforcer.py
  keystone/server/flask/common.py
  keystone/tests/unit/server/test_keystone_flask.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove pre-flask legacy code
  keystone/api/discovery.py
  keystone/common/authorization.py
  keystone/common/controller.py
  keystone/common/dependency.py
  keystone/common/extension.py
  keystone/common/request.py
  keystone/common/router.py
  keystone/common/wsgi.py
  keystone/server/flask/request_processing/middleware/auth_context.py
  keystone/tests/unit/test_exception.py
  keystone/tests/unit/test_middleware.py
  releasenotes/notes/bug-1776504-keystone-conversion-to-flask-372a5654a55675c6.yaml
  requirements.txt
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove paste-ini
  etc/keystone-paste.ini
  setup.cfg
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional

Remove incorrect copyright notice.
  keystone/api/_shared/EC2_S3_Resource.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Added test case update registered limit with region
  keystone/tests/unit/test_limits.py
Due: none

Update API version to 3.11
  api-ref/source/v3/index.rst
  keystone/api/discovery.py
  keystone/tests/unit/test_versions.py
  keystone/version.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Invalidate app cred AFTER deletion
  keystone/application_credential/core.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove deprecated token_flush
  doc/source/admin/identity-performance.rst
  doc/source/admin/identity-troubleshoot.rst
  doc/source/cli/commands.rst
  keystone/cmd/cli.py
  keystone/tests/unit/test_cli.py
  releasenotes/notes/removed-as-of-stein-5eb23253b72ab54e.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fixing update unified limit api-ref
  api-ref/source/v3/parameters.yaml
  api-ref/source/v3/unified_limits.inc
Due: none

Path conditions:
  keystone-dsvm-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-functional-federation: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py35-functional-federation: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  openstack-ansible-keystone-rolling-upgrade: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-tox-patch_cover: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-grenade-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystoneclient-devstack-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  legacy-tempest-dsvm-ldap-domain-specific-driver: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
