Repository openstack/keystone: changes, and which Zuul jobs are due for each by the changed paths.
All: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

keystone-dsvm-functional:
  parent: devstack-tempest
  timeout: 4200
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/keystone
  - openstack/keystone-tempest-plugin
  vars:
    tox_envlist: all
    tempest_test_regex: keystone_tempest_plugin
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin

keystone-dsvm-py3-functional:
  parent: keystone-dsvm-functional
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
      USE_PYTHON3: true

keystone-dsvm-functional-federation:
  parent: keystone-dsvm-functional
  voting: false
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
    devstack_services:
      keystone-saml2-federation: true
      tls-proxy: false
    devstack_plugins:
      keystone: git://git.openstack.org/openstack/keystone

keystone-dsvm-py35-functional-federation:
  parent: keystone-dsvm-functional-federation
  voting: false
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
      USE_PYTHON3: true

openstack-ansible-keystone-rolling-upgrade:
  parent: openstack-ansible-cross-repo-functional
  voting: false
  required-projects:
  - name: openstack/openstack-ansible-os_keystone
  vars:
    tox_env: upgrade
    osa_test_repo: openstack/openstack-ansible-os_keystone

keystone-tox-patch_cover:
  parent: openstack-tox
  description: 'Run test for keystone project.
  
  
    Uses tox with the ``patch_cover`` environment.
  
    '
  vars:
    tox_envlist: patch_cover

keystone-dsvm-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/keystone-dsvm-grenade-multinode/run.yaml
  post-run: playbooks/legacy/keystone-dsvm-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/keystone
  ...

keystoneclient-devstack-functional:
  voting: false

legacy-tempest-dsvm-ldap-domain-specific-driver:
  voting: false

Document user options
  doc/source/admin/identity-resource-options.rst
  doc/source/admin/index.rst
Due: none

Update api-ref to include user options
  api-ref/source/v3/parameters.yaml
  api-ref/source/v3/samples/admin/user-create-request.json
  api-ref/source/v3/samples/admin/user-create-response.json
  api-ref/source/v3/samples/admin/user-update-request.json
  api-ref/source/v3/samples/admin/user-update-response.json
  api-ref/source/v3/users.inc
  releasenotes/notes/bug-1792026-2de8345a89e2256b.yaml
Due: none

Use pycodestyle in place of pep8
  keystone/tests/hacking/checks.py
  keystone/tests/unit/test_hacking_checks.py
  lower-constraints.txt
  test-requirements.txt
  tox.ini
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update contributor doc
  doc/source/contributor/http-api.rst
  doc/source/contributor/services.rst
  doc/source/contributor/set-up-keystone.rst
Due: none

Consolidate service-catalog.rst
  doc/source/admin/index.rst
  doc/source/admin/service-catalog.rst
  doc/source/configuration.rst
Due: none

Consolidate endpoint-policy.rst
  doc/source/admin/endpoint-policy.rst
  doc/source/admin/index.rst
  doc/source/configuration.rst
Due: none

Consolidate event_notifications.rst
  doc/source/admin/event_notifications.rst
  doc/source/admin/index.rst
  doc/source/advanced-topics/index.rst
Due: none

Consolidate auth-totp.rst
  doc/source/admin/auth-totp.rst
  doc/source/admin/index.rst
  doc/source/advanced-topics/index.rst
Due: none

Consolidate identity-domain-specific-config.rst
  doc/source/admin/identity-domain-specific-config.rst
  doc/source/configuration.rst
Due: none

Pass context objects to policy enforcement
  keystone/common/context.py
  keystone/common/rbac_enforcer/enforcer.py
  keystone/server/flask/request_processing/middleware/auth_context.py
  lower-constraints.txt
  requirements.txt
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Don't emit a notification for the root domain
  keystone/notifications.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Move to password validation schema
  keystone/api/users.py
  keystone/identity/schema.py
  keystone/tests/unit/test_validation.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add missing translation import to common.auth.py
  keystone/tests/common/auth.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Move test utility to common location
  keystone/tests/unit/core.py
  keystone/tests/unit/test_v3_federation.py
Due: none

Clarify docstrings for domain flask refactor
  keystone/api/domains.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Keep federation jobs running on Xenial
  .zuul.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add registered limit protection tests
  keystone/tests/unit/protection/v3/test_registered_limits.py
Due: none

Add registered limit tests for system member role
  keystone/tests/unit/protection/v3/test_registered_limits.py
Due: none

Change openstack-dev to openstack-discuss
  setup.cfg
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional

Update role policies for system reader
  keystone/common/policies/role.py
  keystone/tests/unit/protection/v3/test_roles.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Consolidate catalog management guide
  doc/source/admin/cli-keystone-manage-services.rst
  doc/source/configuration.rst
Due: none

Add role tests for system member role
  keystone/tests/unit/protection/v3/test_roles.py
Due: none

Consolidate Keystone docs: federated-identity.rst
  doc/source/admin/federation/configure_federation.rst
  doc/source/admin/federation/federated_identity.rst
  doc/source/admin/federation/mapping_combinations.rst
  doc/source/admin/federation/mellon.rst
  doc/source/admin/federation/openidc.rst
  doc/source/admin/federation/shibboleth.rst
  doc/source/admin/federation/websso.rst
  doc/source/admin/index.rst
  doc/source/advanced-topics/index.rst
Due: none

Move "Public ID Generators" to relevant docs
  doc/source/admin/identity-domain-specific-config.rst
  doc/source/configuration.rst
Due: none

Move SSL recommendation to installation guide
  doc/source/configuration.rst
  doc/source/install/keystone-install-obs.rst
  doc/source/install/keystone-install-rdo.rst
  doc/source/install/keystone-install-ubuntu.rst
Due: none

Use request_body_json function
  keystone/api/credentials.py
  keystone/api/trusts.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Move supported clients section to user guide
  doc/source/configuration.rst
  doc/source/user/index.rst
  doc/source/user/supported_clients.rst
Due: none

Bump oslo.policy and oslo.context versions
  lower-constraints.txt
  requirements.txt
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Implement system reader role in domains API
  keystone/common/policies/base.py
  keystone/common/policies/domain.py
  keystone/tests/unit/protection/v3/test_domains.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Implement system member role domain test coverage
  keystone/tests/unit/protection/v3/test_domains.py
Due: none

Implement system admin role in domains API
  keystone/common/policies/base.py
  keystone/common/policies/domain.py
  keystone/tests/unit/protection/v3/test_domains.py
  releasenotes/notes/bug-1794376-53ce14528f00f01d.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Consolidate Keystone docs: admin/identity-external-authentication.rst
  doc/source/admin/identity-external-authentication.rst
  doc/source/admin/index.rst
  doc/source/advanced-topics/index.rst
  doc/source/contributor/auth-plugins.rst
Due: none

Update registered limit policies for system admin
  keystone/common/policies/registered_limit.py
  keystone/tests/unit/protection/v3/test_registered_limits.py
  releasenotes/notes/bug-1805372-af4ebf4b19500b72.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Consolidate tokenless X.509 docs
  doc/source/admin/configure_tokenless_x509.rst
  doc/source/admin/index.rst
  doc/source/advanced-topics/index.rst
  doc/source/index.rst
Due: none

Rename admin guide pages
  doc/source/admin/auth-token-middleware.rst
  doc/source/admin/bootstrap.rst
  doc/source/admin/caching-layer.rst
  doc/source/admin/case-insensitive.rst
  doc/source/admin/certificates-for-pki.rst
  doc/source/admin/credential-encryption.rst
  doc/source/admin/domain-specific-config.rst
  doc/source/admin/event_notifications.rst
  doc/source/admin/external-authentication.rst
  doc/source/admin/fernet-token-faq.rst
  doc/source/admin/index.rst
  doc/source/admin/integrate-with-ldap.rst
  doc/source/admin/keystone-usage-and-features.rst
  doc/source/admin/performance.rst
  doc/source/admin/resource-options.rst
  doc/source/admin/security-compliance.rst
  doc/source/admin/service-api-protection.rst
  doc/source/admin/tokens.rst
  doc/source/admin/troubleshoot.rst
  doc/source/admin/unified-limits.rst
  doc/source/admin/upgrading.rst
  doc/source/admin/url-safe-naming.rst
  doc/source/admin/use-trusts.rst
  doc/source/configuration.rst
  doc/source/contributor/auth-plugins.rst
Due: none

Move list limit docs to admin guide
  doc/source/admin/index.rst
  doc/source/admin/limit-list-size.rst
  doc/source/configuration.rst
Due: none

Fix links to external-authentication
  doc/source/admin/external-authentication.rst
  doc/source/admin/federation/shibboleth.rst
Due: none

Add introduction section to federation docs
  doc/requirements.txt
  doc/source/admin/federation/configure_federation.rst
  doc/source/admin/federation/federated_identity.rst
  doc/source/admin/federation/introduction.rst
  doc/source/conf.py
Due: none

Remove Certificates for PKI guide
  doc/source/admin/certificates-for-pki.rst
  doc/source/admin/index.rst
Due: none

Remove message about circular role inferences
  keystone/assignment/core.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation, keystone-dsvm-py35-functional-federation, openstack-ansible-keystone-rolling-upgrade, keystone-tox-patch_cover, keystone-dsvm-grenade-multinode, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Path conditions:
  keystone-dsvm-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-functional-federation: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py35-functional-federation: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  openstack-ansible-keystone-rolling-upgrade: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-tox-patch_cover: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-grenade-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystoneclient-devstack-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  legacy-tempest-dsvm-ldap-domain-specific-driver: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
